<header class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="md:flex md:items-center md:gap-12">
        <a class="block" href="#">
          <span>Home</span>
        </a>
      </div>

      <div class="block">
        <nav aria-label="Global">
          <ul class="flex flex-wrap items-center gap-6 text-sm">
            <li>
                <a class="text-gray-500 transition hover:text-gray-500/75" href="#tech-stack"> Tech Stack </a>
              </li>
            <!-- <li>
              <a class="text-gray-500 transition hover:text-gray-500/75" href="#"> Services </a>
            </li> -->
            <li>
              <a class="text-gray-500 transition hover:text-gray-500/75" href="#projects"> Projects </a>
            </li>
          </ul>
        </nav>
      </div>

    </div>
  </div>
</header>